body {

    background-color: #FFFACD;

}


/*------------------------------------NavBar*/

.monkeeshome {
    width: 100vw;
    max-height: 100vh;
    margin: 0;
    padding: 0;
    border: 40px solid;
    border-color: #c2ffa3;
}

@media (max-width:760px) {
    .monkeeshome {
        border-left: 1px solid;
        margin: 0;
        border-right: 1px solid;
    }
}

}

.nav-color {
    background-color: #FFFACD !important;
}

/*----------------------------------- Text Styles*/

.uppercase {
    text-transform: uppercase;
}
